
/* Index elements */
.mdl-layout__header {
    background: linear-gradient(#191919, #242424);
}

.mdl-layout-title {
    font-size: 24px;
    font-weight: 500;
}

body {
    background: radial-gradient(farthest-corner at 5% 100%, #31295e 0%, #000 100%);
    font-family: 'Source Sans Pro', sans-serif;
}
.tab-selection {
    font-size: 17px;
    font-weight: 500;
}

.mdl-layout__tab .tab-selection {
    background: linear-gradient(#242424, #191919);
    color: #cccccc;
    text-transform: none;
    transition: font-size 0.33s, color 0.33s;
}

.mdl-layout__tab .tab-selection:hover {
    color: #898989;
}


.mdl-layout.is-upgraded .mdl-layout__tab.is-active .tab-selection {
    color: #fff;
    font-size: 20px;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
    background: linear-gradient(-90deg, #712F90, #2583EE);
    animation: border-expand .8s cubic-bezier(0, 0, 0.38, 0.99) forwards;
    transition: all 1s;
}


/* Puzzle entry elements */

#submit.mdl-button {
    display: none;
    background-image: linear-gradient(120deg, rgb(37, 131, 238) 25%, rgb(113, 47, 144) 75%);
    font-family: Tahoma;
    font-weight: 100;
    text-transform: none;
    background-size: 200% 100%;
    transition: background-position-x 0.33s;
    background-position: 50%;
    padding: 8px 22px;
    margin: 0 auto;
    font-size: 15px;
    line-height: 16px;
}

#submit.mdl-button:hover {
    background-position-x: 10%;
}

#submit.mdl-button__ripple-container {
    margin: 0 auto;
}

h3 {
    display: inline-flex;
    font-weight: 300;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-image: linear-gradient(120deg, rgba(37, 131, 238, 1), rgba(113, 47, 144, 1)) 20;
    border-radius: 5px;
}

h4 {
    display: inline-flex;
    font-weight: 300;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-image: linear-gradient(120deg, rgba(37, 131, 238, 1), rgba(113, 47, 144, 1)) 20;
    border-radius: 5px;
}

form {
    width: auto;
    height: auto;
    margin: 22px;
    align-content: center;
}

#puzzle-entry {
    height: 100%;
    padding: 24px 50px 24px 50px;
    flex-flow: row;
    filter: drop-shadow(7px 20px 20px #1d65b8);
    border-radius: 9px;
    border: 1px solid #000;
    background: #ececec;
    text-align: center;
}


/* Puzzle order elements */

#puzzle-order-terminal {
    height: 70%;
    padding: 25px;
    filter: drop-shadow(7px 20px 20px #1d65b8);
    border-radius: 3px;
    background: #191919;
    word-wrap: break-word;
    overflow-y: scroll;
    border: 2px solid #ececec;
}

#puzzle-order-terminal p {
    color: #f2f2f2;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

#puzzle-order {
    padding: 25px;
    filter: drop-shadow(7px 20px 20px #1d65b8);
    border-radius: 3px;
    background: #ececec;
    text-align: center;
    height: fit-content;
}

.place-1 {
    font-family: 'Source Sans Pro', sans-serif;
    background: #2ab6f4;
    font-size: 24px;
    height: 100%;
}

.place-2 {
    font-family: 'Source Sans Pro', sans-serif;
    background: #9cd575;
    font-size: 24px;
    height: 100%;
}

.place-3 {
    font-family: 'Source Sans Pro', sans-serif;
    background: #e74d59;
    font-size: 24px;
    height: 100%;
}

.drag-n-drop {
    width: auto;
    height: 45%;
    text-align: center;
}

/* MDL specific */
.mdl-grid {
    height: fit-content;
    margin: 15px;
}

.order-grid {
    height: 100%;
}

.mdl-textfield__input {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px 0 10px 0;
    text-align: center;
    font-size: 24px;
}
.mdl-textfield--floating-label {
    text-align: center;
    font-size: 24px;
}

.mdl-textfield__label {
    font-size: 24px;
}

.mdl-textfield__label:after {
    background-color: #712F90;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
    color: #712F90;
}

.mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
    color: #712F90;
}

.typed-cursor {
    opacity: 1;
    animation: blink .7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}